<ion-content [fullscreen]="true" class="login-content">
  <div class="login-wrapper">
    <div class="login-card animate-fade-in">
      <img src="assets/logo.png" alt="Conference Logo" class="login-logo" />

      <h2 class="login-title">AMEA 2025 Strategy</h2>
      <p class="login-subtitle">Sign in to access your personalized experience</p>

      <ion-list lines="none" class="login-form">
        <ion-item class="login-item">
          <ion-icon slot="start" name="mail-outline" color="primary"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            autocapitalize="off"
            autocomplete="email"
            inputmode="email"
          ></ion-input>
        </ion-item>

        <ion-item class="login-item">
          <ion-icon slot="start" name="lock-closed-outline" color="primary"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button
        expand="block"
        shape="round"
        class="login-btn"
        (click)="login()"
      >
        Log In
      </ion-button>

    </div>
  </div>
</ion-content>
